[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "*"
wave = "*"
pyaudio = "*"
matplotlib = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.8"

[scripts]
format = "autopep8 -ivr ."
lint = "flake8 --show-source --ignore=E501 ."
