[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
tensorflow = "*"
wave = "*"
pyaudio = "*"
matplotlib = "*"
tqdm = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.8"

[scripts]
format = "autopep8 -ivr ."
lint = "flake8 --show-source --ignore=E501 ."
train = "python main.py --train"
record = "python main.py --record"
build = "python main.py --build"
demo = "python main.py --demo"
help = "python main.py --help"
